@page "/"
@inherits IndexBase

<div id="game" class="game">
    <canvas id="canvas" @ref="_canvas" class="game" @onclick="CanvasOnClick"></canvas>
</div>

<div class="welcome" style="display: @WelcomeVisibility">
    <div class="welcome-Text">
        Welcome <b>@_gameEngine.Game.Me.Name</b>!<br />
        <br />
        By clicking the "Let's play" you agree our cookie policy.<br />
        <br />
        <button class="btn btn-primary" @onclick="LetsPlayOnClick">Let's play!</button>
    </div>
</div>

<div class="welcome" style="display: @ConnectionErrorVisibility">
    <div class="welcome-Text">
        <img src="/images/connection-error.png" alt="Connection error" /><br />
        <br />
        Oh no! We lost the connection to the other monkeys.<br />
        <br />
        <button class="btn btn-primary" @onclick="RefreshOnClick">Click to refresh</button>
    </div>
</div>
