@page "/"
@inherits IndexBase

<div class="game">
    <b>@_gameEngine.Game.Me.Score</b>
    <canvas id="canvas" @ref="_canvas" class="game" @onclick="CanvasOnClick"></canvas>
</div>

<div class="welcome" style="display: @WelcomeVisibility">
    <div class="welcome-Text">
        Welcome <b>@_gameEngine.Game.Me.Name</b>!<br />
        <br />
        By clicking the "Let's play" you agree our cookie policy.<br />
        <br />
        <button class="btn btn-primary" @onclick="LetsPlayOnClick">Let's play!</button>
    </div>
</div>
